@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main-frame {
  display: inline-flex;
}
.items {
  height: auto;
  width: auto;
}

.navbar .nav-link:hover {
  border-bottom: 2px solid black;
}

.carousel .carousel-item {
  height: 500px;
  /* width: auto; */
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 500px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;

  height: auto;
  width: 100%;
  margin: 10px;
  padding: 5px;
  justify-content: space-evenly;
}
.item {
  /* display: flex; */
  /* margin: 10px; */
  padding: 5px;
  margin: auto;
  width: 30%;
  height: auto;
  justify-content: center;
}
.item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
